In [36]:
import requests
import pandas as pd
import json
from functools import reduce

In [23]:
tournaments_ids = ["bsWB13Hw", "YcZ1jadO", "4msjnkop", "6HR4y64q", "Ui5I3XN0", "ZNViLhlA", "rpwTJ8ba"]

request_url_games = "https://lichess.org/api/tournament/{}/games?evals=true&opening=true"
request_url = "https://lichess.org/api/tournament/{}/results"

In [41]:
D_list = []
for i, t_id in enumerate(tournaments_ids):
    response = requests.get(request_url.format(t_id))
    tournaments_dicts = [json.loads(s) for s in response.text.split("\n") if len(s) > 0]
    for d in tournaments_dicts : d["Tournament"] = i + 1

    df = pd.DataFrame(tournaments_dicts)
    D_list.append(df)

In [42]:
reduce(lambda x, y: pd.merge(x, y, on = 'username', how = 'outer'), D_list)

,rank_x,score_x,rating_x,username,performance_x,Tournament_x,rank_y,score_y,rating_y,performance_y,Tournament_y,rank,score,rating,performance,Tournament
0,1.0,32.0,2285.0,ztfs,2267.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,29.0,2155.0,materialiste,2142.0,1.0,NaN,NaN,NaN,NaN,NaN,7.0,8.0,2111.0,2383.0,3.0
2,3.0,25.0,2146.0,ludo2boss,1991.0,1.0,3.0,29.0,2131.0,2043.0,2.0,NaN,NaN,NaN,NaN,NaN
3,4.0,21.0,2099.0,Mr4nd3rson,2047.0,1.0,1.0,39.0,2120.0,2153.0,2.0,1.0,25.0,2201.0,2091.0,3.0
4,5.0,20.0,2193.0,michel1964,2271.0,1.0,4.0,20.0,2178.0,2066.0,2.0,2.0,21.0,2123.0,2277.0,3.0
5,6.0,18.0,1835.0,Harne,1829.0,1.0,7.0,14.0,1859.0,1772.0,2.0,5.0,11.0,1923.0,1891.0,3.0
6,7.0,14.0,1861.0,lerappat,1933.0,1.0,5.0,18.0,1833.0,1883.0,2.0,4.0,18.0,1899.0,2124.0,3.0
7,8.0,13.0,1899.0,Xavier_Eg,1918.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,12.0,1752.0,borisleibowitz,1738.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,10.0,1520.0,nico2del,1643.0,1.0,11.0,4.0,1506.0,1479.0,2.0,11.0,0.0,1504.0,1000.0,3.0
10,11.0,8.0,1662.0,BOBDYLANE,2177.0,1.0,8.0,7.0,1631.0,1673.0,2.0,10.0,1.0,1641.0,1810.0,3.0
11,12.0,5.0,1684.0,Parallel-Universo,1457.0,1.0,9.0,5.0,1670.0,1525.0,2.0,NaN,NaN,NaN,NaN,NaN
12,13.0,4.0,1511.0,Rudolf_Spielmann,1440.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14.0,0.0,1007.0,Kifle,1291.0,1.0,12.0,0.0,997.0,1314.0,2.0,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,ra1956,NaN,NaN,2.0,32.0,2019.0,2257.0,2.0,6.0,10.0,2026.0,1979.0,3.0
15,NaN,NaN,NaN,ZeljkoBijelic,NaN,NaN,6.0,16.0,2212.0,2223.0,2.0,3.0,19.0,2190.0,2080.0,3.0
16,NaN,NaN,NaN,Fedwhisk,NaN,NaN,10.0,4.0,1802.0,1689.0,2.0,9.0,2.0,1788.0,1601.0,3.0
17,NaN,NaN,NaN,rmnfournier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,6.0,1754.0,1765.0,3.0